@import "tailwindcss";

:root {
  --font-oi: 'Oi', serif;
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-oi);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
funkoOrange {
  background-color: #f99400;
}

@layer utilities {
  .animated-gradient {
    background-size: 200% 200%;
    background-image: linear-gradient(
      -45deg,
      #f7cc40,
      #90ee6b,
      #ff85a2,
      #8ec5fc,
      #f7cc40
    );
    animation: gradient-shift 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .animated-gradient-alt {
    background-size: 200% 200%;
    background-image: linear-gradient(
      -45deg,
      #ff6ec4,
      #7873f5,
      #42e695,
      #ffe985,
      #ff6ec4
    );
    animation: gradient-shift 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}